@charset "UTF-8";
/* html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  
  ol, ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  } */

* {
    box-sizing: border-box;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

html {
    font-family: "Lucida Sans", sans-serif;
}


/* Add a black background color to the top navigation */

.topnav {
    background-color: #192f43;
    overflow: hidden;
}


/* Style the links inside the navigation bar */

.topnav a:not(#logo) {
    margin-top: 15px;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}


/* Change the color of links on hover */

.topnav a:hover {
    background-color: #ddd;
    color: black;
}


/* Add an active class to highlight the current page */

.topnav a.active {
    background-color: #61d6a5;
    color: white;
}


/* Style the input container */

.topnav .login-container {
    float: right;
}


/* Style the input field inside the navbar */

.topnav input[type=text],
.topnav input[type=password] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    width: 150px;
    /* adjust as needed (as long as it doesn't break the topnav) */
}


/* Style the button inside the input container */

.topnav .login-container button {
    float: right;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.topnav .login-container button:hover {
    background: #ccc;
}


/* Hide the link that should open and close the topnav on small screens */

.topnav .icon {
    display: none;
}


/* main */

.row {
    background-color: #e4f5f9;
}

.dot1,
.dot2,
.dot3,
.dot4 {
    height: 200px;
    width: 229px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.dot1 {
    background-image: url('/img/main1.png');
    background-repeat: no-repeat;
}

.dot2 {
    background-image: url('/img/main2.png');
    background-repeat: no-repeat;
}

.dot3 {
    background-image: url('/img/main3.png');
    background-repeat: no-repeat;
}

.dot4 {
    background-image: url('/img/main4.png');
    background-repeat: no-repeat;
}

.login-form {
    background-color: #ffffff;
    padding: 15px;
    color: black;
    text-align: center;
    font-size: 14px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

input[type=text],
input[type=password] {
    border: 1px solid black;
    text-align: center;
    width: 100%;
    padding: 10px;
}

input[type=submit] {
    margin-top: 10px;
    background-color: #61d6a5;
    font-size: 15px;
    padding: 10px;
    width: 100%;
}


/* Sections */

.section-mid {
    margin-top: 10px;
    padding: 20px;
    background-image: linear-gradient(#61d6a5 50%, #55b2c4 50%);
}

.box {
    background-color: white;
    text-align: center;
    padding: 5px;
    font-size: 2em;
}

.box ul li {
    list-style: none;
    display: inline-block;
}

.box li {
    padding-right: 10px;
}

.checked {
    color: yellow;
}

.section-bottom {
    background-color: white;
}

table,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

td {
    padding: 10px;
    text-align: center;
}

.footer {
    background-color: #374f67;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    padding: 15px;
}


/* For mobile phones: */

[class*="col-"] {
    width: 100%;
}


/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
    .topnav #logo {
        pointer-events: none;
    }
    .login-container {
        display: none;
    }
}


/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */

@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    .box ul li {
        display: block;
    }
    .card {
        width: 100% !important;
    }
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {
        width: 8.33%;
    }
    .col-s-2 {
        width: 16.66%;
    }
    .col-s-3 {
        width: 25%;
    }
    .col-s-4 {
        width: 33.33%;
    }
    .col-s-5 {
        width: 41.66%;
    }
    .col-s-6 {
        width: 50%;
    }
    .col-s-7 {
        width: 58.33%;
    }
    .col-s-8 {
        width: 66.66%;
    }
    .col-s-9 {
        width: 75%;
    }
    .col-s-10 {
        width: 83.33%;
    }
    .col-s-11 {
        width: 91.66%;
    }
    .col-s-12 {
        width: 100%;
    }
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {
        width: 8.33%;
    }
    .col-2 {
        width: 16.66%;
    }
    .col-3 {
        width: 25%;
    }
    .col-4 {
        width: 33.33%;
    }
    .col-5 {
        width: 41.66%;
    }
    .col-6 {
        width: 50%;
    }
    .col-7 {
        width: 58.33%;
    }
    .col-8 {
        width: 66.66%;
    }
    .col-9 {
        width: 75%;
    }
    .col-10 {
        width: 83.33%;
    }
    .col-11 {
        width: 91.66%;
    }
    .col-12 {
        width: 100%;
    }
    a.login {
        display: none;
    }
}